{% extends 'users/base.html' %}

{% block body %}

<div class="m-3 d-flex justify-content-center">
  <h1>Blog Edit</h1>
</div>


{% load crispy_forms_tags %}

<div class="row">
    <div class="col-md-6 offset-md-3">

        <form action="" method="post">
            {% csrf_token %} {{form|crispy}}

            <div class="mr-2 d-flex justify-content-center">
              <button type="submit" class="btn btn-warning" style="width: 6rem;">Update</button>
           </div>
        </form>
    </div>
</div>

{% endblock body %}
