{% extends 'users/base.html' %}

{% block body %}

<h1>Post List Page</h1>

{% if request.user.is_authenticated %}
<p>Wellcome {{ request.user | title }}!</p>
{% else %}
<p>Wellcome Guest!</p>
{% endif %}



<div class="card-group">

  {% for post in post_list %}

  <div class="card" style="width: 18rem;">
    <img src="{{post.image_url}}" class="card-img-top" alt="Post Image">
    <div class="card-body">
      <h5 class="card-title">{{post.title}}</h5>
      <p class="card-text">{{post.content}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{post.category}}</li>
      <li class="list-group-item">{{post.last_updated}}</li>
      <li class="list-group-item">A third item</li>
    </ul>
    <div class="card-body">
      <a href="{% url 'post_detail' post.id  %}" class="card-link">Detail</a>
      <a href="#" class="card-link">Like</a>
    </div>
  </div>
  {% endfor %}
  
</div>



{% endblock body %}