{% extends 'users/base.html' %}
{% load static %}
{% block title %}
    - Profile
{% endblock title %}
{% block body %}


<div class="container d-flex justify-content-center">
<h1>Profile Page</h1>
</div>



<div class="container">

{% comment %} <div class="col-md-4">
    <img src="{% static 'media folder/profile_pic/avatar1.jpg' %}" class="img-fluid rounded-start" alt="nurbaki photo">
</div> {% endcomment %}



<ul class="list-group list-group-flush">
    {% if user_profile.image.url %}
    <li class="list-group-item"><img src="{{user_profile.image.url}}" alt="profile pic"></li>
    {% else %}
    <li class="list-group-item"><img src="{% static 'media folder/profile_pic/avatar1.jpg' %}" alt="profile pic"></li>
    {% endif %}
    <li class="list-group-item">Author : {{user_profile.user}}</li>
    <li class="list-group-item">Bio : {{user_profile.bio}}</li>
  </ul>


<a href="{% url 'profile_update' %}"><button type="button" class="btn btn-danger">Update</button></a>
</div>


{% endblock body %}
